---
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import '@fontsource-variable/noto-sans';
import '../styles/global.css'

interface Props {
	title: string;
	theme: string;
	header?: boolean;
	footer?: boolean;
}

const { title, theme, header=true, footer=true} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/expo-center.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{header !== false && <Header theme={theme}/>}
		<main class={theme}>
		<slot />
		</main>
		{footer !== false && <Footer theme={theme}/>}
	</body>
</html>

<style>
	main:not(.top) {
    	grid-row: main-start / main-end;
    	display: grid;
		min-height: 90vh;
		padding-inline: 2rem;
		padding-block: 2rem;
		margin-inline: auto;
		width: 100%;
		max-width: 50rem;
		grid-template-columns: minmax(0, 1fr);
		justify-items: start;
	}
</style>
